{{define "title"}}About{{end}}

{{define "css"}}{{end}}

{{define "url"}}/about{{end}}

{{define "description"}}All about your ideal blogging platform!{{end}}

{{define "page"}}
    <section>
        <h1>ABOUT</h1>
    </section>
{{end}}