{{define "title"}}Home{{end}}

{{define "css"}}home{{end}}

{{define "url"}}{{end}}

{{define "description"}}Your ideal blogging platform!{{end}}

{{define "page"}}
    <section>
        <h1>GO BLOG</h1>
    </section>
{{end}}